body{
  display: flex;
  justify-content: center;
}

.app{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 0);
  max-width: 2560px;
}

.app-content{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative
}

.app-content-header{
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}

.app-content-header-buttons{
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.app-content-header-buttons-button{
  font-family: 'Schibsted Grotesk';
  font-size: 15px;
  color: black;
}

.app-content-header-name{
  font-size: 24px;
  font-family: 'SUSE Mono';
  font-weight: 600;
  color: black;
  margin-right: auto;
  font-style: italic;
}

.app-content-hero{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-content-hero-title{
  font-size: 48px;
  text-align: center;
  font-family: 'Schibsted Grotesk';
  font-weight: 500;

  background: linear-gradient(to right, #000000, #000000, #000000, #000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-content-hero-text{
  font-size: 16px;
  text-align: center;
  font-family: 'Schibsted Grotesk';
  font-weight: 500;
  color: black;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-content-hero-button{
  width: 110px;
  height: 50px;
  font-family: 'Schibsted Grotesk';
  border-radius: 20px;
  background: linear-gradient(to bottom, black,rgb(28, 28, 28));
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-bottom: 50px;
}